
.move .footer,.move .social-links{
    background-color: var(--circle-light-2);
    color:var(--dark);
}
.move .navbar{ 
    background:var(--circle-light-2);
    color:var(--dark);
    border-radius: 0 0 0 40px;
}
.move {
    background-color: var(--day-background);
    color:var(--dark);
}
.move .auto-grid li {
    background: var(--circle-light);
    color: var(--dark);
}